<h2>トップページ</h2>

<p>ようこそながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員ではない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>

<h2>新着商品</h2>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
     <div class="col-md-4">
        <div class="card">
        <%= image_tag item.get_image %>
         <div class="card-body">
          <p class="card-title"><%= item.name %></p>
          <p class="card-text"><%= item.price %></p>
         </div>
        </div>
     </div>
    <% end %>
  </div>
</div>

<%= link_to "すべての商品を見る", items_path %>