<h3>ジャンル編集</h3>

<%= form_with model: @genre, url: admin_genres_path do |f| %>

<div class="form-group">
<label for="InputName">ジャンル名</label>
<%= f.text_field :name, autofocus: true, id:"InputName" %>

<%= f.submit "変更を保存" , class:"btn btn-success btn-sm" %>
</div>
<% end %>