<h2>ジャンル一覧、追加</h2>

<h3>ジャンル名</h3>
<%= f.text_field :name %>

<%= f.submit '新規投稿' %>

<table>
  <thead>
   <tr>
    <th>ジャンル</th>
    <th colspan="3"></th>
   </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>