<div class="container">
<div class="row">
  <div class="mx-auto col-11">
    <h3>商品一覧</h3>
    
    <div class="d-flex">
    <% @items.each do |item| %>
    
    <%= image_tag item.get_image(100, 100) %>
    <div class="card-body">
     <p class="card-text"><%= link_to item.name, item_path(item.id) %></p>
     <p class="card-text"><%= item.price %></p>
     </div>
    <% end %>
    </div>
    
    <%= paginate @items %>
  </div>
</div>
</div>